<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label2"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
                <wm-composite widget="radio" name="composite2">
                    <wm-radio class="col-md-push-2" name="radio1"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label3"></wm-label>
                </wm-composite>
                <wm-composite widget="text" name="composite3">
                    <wm-label class="col-md-2" name="label4"></wm-label>
                    <wm-text name="text2"></wm-text>
                </wm-composite>
                <wm-composite widget="select" name="composite4">
                    <wm-label class="col-md-2" name="label5"></wm-label>
                    <wm-select name="select1"></wm-select>
                </wm-composite>
                <wm-composite widget="textarea" name="composite5">
                    <wm-label class="col-md-2" name="label6"></wm-label>
                    <wm-textarea name="textarea1"></wm-textarea>
                </wm-composite>
                <wm-livegrid name="livegrid1" service="hrdb@User">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid1" dataset="bind:Variables.HrdbUserData.dataSet">
                        <wm-grid-column binding="userid" caption="userid" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="username" caption="username" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="password" caption="password" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="role" caption="role" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="tenantid" caption="tenantid" type="integer" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform novalidate="false" height="200" name="liveform1" dataset="bind:Variables.HrdbUserData.dataSet">
                        <wm-form-field key="userid" display-name="userid" show="true" type="integer" primary-key="true" generator="identity" readonly="true" required="true" placeholder="Enter value"></wm-form-field>
                        <wm-form-field key="username" display-name="username" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="20" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="password" display-name="password" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="20" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="role" display-name="role" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="20" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="tenantid" display-name="tenantid" show="true" type="integer" primary-key="false" generator="null" readonly="false" required="false" placeholder="Enter value"></wm-form-field>
                        <wm-form-action key="cancel" display-name="cancel" show="true" class="form-cancel" iconname="remove-circle" action="formCancel()" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" display-name="save" show="true" class="form-save btn-success" iconname="save" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
                <wm-composite widget="checkbox" name="composite6">
                    <wm-checkbox class="col-md-push-2" name="checkbox1"></wm-checkbox>
                    <wm-label class="col-md-2 col-md-push-2" name="label7"></wm-label>
                </wm-composite>
                <wm-composite widget="radioset" name="composite7">
                    <wm-label class="col-md-2" name="label8"></wm-label>
                    <wm-radioset height="auto" name="radioset1"></wm-radioset>
                </wm-composite>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>