/*START - Cool Blue Theme*/
/*LESS Mixins */
/* SUMMARY:
PREFIX and their respective meanings:
-webkit- -  Webkit (Safari/Chrome)
-moz- Mozilla Firefox
-ms-  IE
-o-   Opera
filter: Internet Explorer
*/
/*Gradient background: Fades from top to bottom*/
/*Setting background to none does not remove gradient background in IE9. Hence, another mixin is used to solve this.
This mixin removes background from IE & all other browsers so that they are consistent */
/*Returns Width and Height of an element*/
/*Applies border style*/
/*Box Shadow effect*/
/*Applies inset shadow effect*/
/*Ease in and out effects when input elements are clicked upon*/
/*Glow effect when input elements are clicked upon*/
/*Rotates text; Used to rotate the links (Files and Services) in the static section of the Left Sliding Panel*/
/*Rotate Text on Y axis (Files and Services links)*/
/*Background images for studio*/
/*Background images position */
/*Background images for Pages such as My Projects, etc.*/
/*Very important to fix the flicker that appears in Google Chrome when a transition takes place or when
the left sliding panel (containing File & Services vertical links) is clicked upon*/
/*Removes the default styling of list items*/
/*Box Sizing cross browser compatible*/
/*Reset margin and padding to 0*/
/*Adds a white text shadow*/
/*The text of the element and sub-elements will appear as if they cannot be selected.*/
/*To clear floats, just apply the class "clear" on the parent container of the divs that are floated*/
/*Adds animation affect*/
/*Styling all input elements like textbox, textarea, select*/
/*Element Blurb*/
/*to position an element in the centre of the container */
/*To show ellipsis for longer text*/
/**********************************Button classes***********************************/
/*Studio Dialogs common different pages*/
.wm-app {
  /*For App Widgets*/

  /*Grid*/

  /*File Upload Widget*/

  /*Dialog Widget*/

  /*Accordion Widget*/

  /*Tabs Widget*/

  /*Slider Widget*/

  /*For App Header, Body & Footer colors*/

  /*For top nav*/

  /*For footer */

  /*For left nav*/

  /*For right nav*/

  /*Grid styling*/

  /*Upload Widget*/

  /*Dialog Widget*/

  /*Accordion Widget*/

  /*Tabs Widget*/

  /*Slider Widget*/

  /*App Header, Body & Footer*/

}
.wm-app a,
.wm-app .pagination > li > a,
.wm-app .pagination > li > span {
  color: #0088ba;
}
.wm-app .app-label,
.wm-app .app-anchor {
  color: #333333;
}
.wm-app .app-button,
.wm-app .btn.btn-default {
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #666666;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  -ms-box-shadow: 0px 1px 1px #666666;
  -o-box-shadow: 0px 1px 1px #666666;
  background-color: #74ac00;
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9c835), color-stop(1, #74ac00));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #a9c835 5%, #74ac00 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #a9c835 5%, #74ac00 100%);
  /* Opera */

  background: -o-linear-gradient(top, #a9c835 5%, #74ac00 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #a9c835 5%, #74ac00 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #a9c835 5%, #74ac00 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a9c835, endColorstr=#74ac00);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#a9c835', EndColorStr='#74ac00')";
  /* IE8, IE9 */

  border: 1px solid #74ac00;
}
.wm-app .app-button:hover,
.wm-app .btn.btn-default:hover {
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #87a02a), color-stop(1, #527900));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #87a02a 5%, #527900 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #87a02a 5%, #527900 100%);
  /* Opera */

  background: -o-linear-gradient(top, #87a02a 5%, #527900 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #87a02a 5%, #527900 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #87a02a 5%, #527900 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#87a02a, endColorstr=#527900);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#87a02a', EndColorStr='#527900')";
  /* IE8, IE9 */

}
.wm-app .app-button.btn-secondary {
  color: #666666;
  background-color: #eeeeee;
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #eeeeee));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #ffffff 5%, #eeeeee 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #ffffff 5%, #eeeeee 100%);
  /* Opera */

  background: -o-linear-gradient(top, #ffffff 5%, #eeeeee 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #ffffff 5%, #eeeeee 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #ffffff 5%, #eeeeee 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#ffffff', EndColorStr='#eeeeee')";
  /* IE8, IE9 */

}
.wm-app .app-button.btn-secondary:hover {
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #d5d5d5));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #e6e6e6 5%, #d5d5d5 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #e6e6e6 5%, #d5d5d5 100%);
  /* Opera */

  background: -o-linear-gradient(top, #e6e6e6 5%, #d5d5d5 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #e6e6e6 5%, #d5d5d5 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #e6e6e6 5%, #d5d5d5 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e6e6e6, endColorstr=#d5d5d5);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#e6e6e6', EndColorStr='#d5d5d5')";
  /* IE8, IE9 */

}
.wm-app .app-textbox,
.wm-app .app-textarea,
.wm-app .app-select,
.wm-app .input-group-addon {
  background-color: #ffffff;
  box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
}
.wm-app .app-textbox.form-control[disabled],
.wm-app .app-textarea.form-control[disabled],
.wm-app .app-select.form-control[disabled],
.wm-app .input-group-addon.form-control[disabled],
.wm-app .app-textbox.form-control[readonly],
.wm-app .app-textarea.form-control[readonly],
.wm-app .app-select.form-control[readonly],
.wm-app .input-group-addon.form-control[readonly] {
  background-color: #eee;
}
.wm-app .gridStyle {
  border: 1px solid #a1e4fc;
}
.wm-app .ngTopPanel {
  background-color: #00aded;
  border-bottom: 1px solid #0088ba;
  color: #003d54;
  text-transform: capitalize;
}
.wm-app .ngRow.even {
  background-color: #ffffff;
}
.wm-app .ngRow.odd {
  background-color: #f4f4f4;
}
.wm-app .ngHeaderContainer {
  background-color: #cbeffe;
  color: #0c4d72;
}
.wm-app .app-fileupload .drop-box {
  background-color: #e0f6ff;
  border: 2px dashed #0088ba;
}
.wm-app .app-fileupload [data-identifier=drop-message] {
  color: #00435b;
}
.wm-app .app-fileupload [data-identifier=file-message] {
  color: #005270;
}
.wm-app .app-fileupload [data-identifier="file-message"] a {
  color: #00435b;
}
.wm-app .app-dialog-header {
  background-color: #cbeffe;
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cbeffe), color-stop(1, #4ec7fc));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #cbeffe 5%, #4ec7fc 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #cbeffe 5%, #4ec7fc 100%);
  /* Opera */

  background: -o-linear-gradient(top, #cbeffe 5%, #4ec7fc 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #cbeffe 5%, #4ec7fc 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #cbeffe 5%, #4ec7fc 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cbeffe, endColorstr=#4ec7fc);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#cbeffe', EndColorStr='#4ec7fc')";
  /* IE8, IE9 */

  color: #0c4d72;
  text-shadow: 0 1px #95d1f3 #ffffff;
}
.wm-app .app-dialog-header .app-dialog-close {
  background-color: #62d7ff;
  border: 1px solid #0088ba;
}
.wm-app .app-dialog-footer {
  background-color: #f0f6f8;
}
.wm-app .app-search .input-group-addon,
.wm-app .app-currency .input-group-addon {
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #ffffff), color-stop(1, #f0faff));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #ffffff 100%, #f0faff 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #ffffff 100%, #f0faff 100%);
  /* Opera */

  background: -o-linear-gradient(top, #ffffff 100%, #f0faff 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #ffffff 100%, #f0faff 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #ffffff 100%, #f0faff 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f0faff);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#ffffff', EndColorStr='#f0faff')";
  /* IE8, IE9 */

  color: #666666;
}
.wm-app .app-accordion .app-accordion-panel .panel-heading {
  background-color: #cbeffe;
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #cbeffe), color-stop(1, #cbeffe));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #cbeffe 100%, #cbeffe 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #cbeffe 100%, #cbeffe 100%);
  /* Opera */

  background: -o-linear-gradient(top, #cbeffe 100%, #cbeffe 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #cbeffe 100%, #cbeffe 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #cbeffe 100%, #cbeffe 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cbeffe, endColorstr=#cbeffe);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#cbeffe', EndColorStr='#cbeffe')";
  /* IE8, IE9 */

  border: 1px solid #a1e4fc;
}
.wm-app .app-accordion .app-accordion-panel .panel-collapse {
  background-color: #ffffff;
  border: 1px solid #a1e4fc;
}
.wm-app .app-accordion .app-accordion-panel .panel-title .heading {
  color: #006fa1;
}
.wm-app .app-accordion .app-accordion-panel .accordion-heading {
  font-weight: bold;
  text-shadow: 0px 1px #ffffff;
}
.wm-app .app-tabs.tabbable .nav-tabs {
  border-bottom: 1px solid #a1e4fc;
}
.wm-app .app-tabs.tabbable .nav > li > a {
  color: #666666;
  background-color: #f0faff;
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f0faff));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #ffffff 5%, #f0faff 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #ffffff 5%, #f0faff 100%);
  /* Opera */

  background: -o-linear-gradient(top, #ffffff 5%, #f0faff 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #ffffff 5%, #f0faff 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #ffffff 5%, #f0faff 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f0faff);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#ffffff', EndColorStr='#f0faff')";
  /* IE8, IE9 */

  border: 1px solid #a1e4fc;
}
.wm-app .app-tabs.tabbable .nav > li > a:hover,
.wm-app .app-tabs.tabbable .nav > li > a:focus {
  background-color: #ffffff;
  border: 1px solid #a1e4fc;
  border-bottom-color: #FFFFFF;
}
.wm-app .app-tabs.tabbable .nav > li.active > a {
  border: 1px solid #a1e4fc;
  background: #ffffff;
  color: #006fa1;
  border-bottom-color: #FFFFFF;
}
.wm-app .app-tabs.tabbable .tab-content .tab-pane .tab-body {
  border: 1px solid #a1e4fc;
  border-top: 0;
  background-color: #ffffff;
}
.wm-app .app-slider .range-input {
  box-shadow: 0 0 2px #a1e4fc;
  background-color: #cbeffe;
  border: 1px solid #0088ba;
}
.wm-app .app-header {
  background-color: #ffffff;
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  /* Opera */

  background: -o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#ffffff);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#ffffff', EndColorStr='#ffffff')";
  /* IE8, IE9 */

  color: #000000;
  box-shadow: none;
  border-bottom: 1px solid #478aa5;
}
.wm-app .app-header .application-name {
  color: #000000;
}
.wm-app .app-content {
  color: #666666;
}
.wm-app .app-footer {
  background-color: #2e3136;
  color: #059dc6;
}
.wm-app .app-top-nav {
  background: none;
  /* For IE 6 - 7 */

  filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false);
  /* For IE8, IE9 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-color: #4ec7fc;
  color: #059dc6;
  padding: 0 8px;
  box-shadow: inset 0px 2px 6px 1px rgba(22, 25, 28, 0.3);
  -webkit-box-shadow: inset 0px 2px 6px 1px rgba(22, 25, 28, 0.3);
  -moz-box-shadow: inset 0px 2px 6px 1px rgba(22, 25, 28, 0.3);
  -ms-box-shadow: inset 0px 2px 6px 1px rgba(22, 25, 28, 0.3);
  -o-box-shadow: inset 0px 2px 6px 1px rgba(22, 25, 28, 0.3);
  border-bottom: none;
}
.wm-app .app-top-nav .app-list .app-list-item .app-anchor,
.wm-app .app-top-nav .app-list .app-list-item .app-button {
  border: none;
  border-radius: 0;
  color: #166689;
  padding: 8px;
  background: none;
  /* For IE 6 - 7 */

  filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false);
  /* For IE8, IE9 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
.wm-app .app-top-nav .app-list .app-list-item .app-anchor:hover,
.wm-app .app-top-nav .app-list .app-list-item .app-button:hover,
.wm-app .app-top-nav .app-list .app-list-item .app-anchor.active,
.wm-app .app-top-nav .app-list .app-list-item .app-button.active {
  /* Webkit (Safari/Chrome 10) */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #003c58), color-stop(1, #006591));
  /* Webkit (Chrome 11+) */

  background: -webkit-linear-gradient(top, #003c58 5%, #006591 100%);
  /* Mozilla Firefox */

  background: -moz-linear-gradient(top, #003c58 5%, #006591 100%);
  /* Opera */

  background: -o-linear-gradient(top, #003c58 5%, #006591 100%);
  /* IE10 Consumer Preview */

  background: -ms-linear-gradient(top, #003c58 5%, #006591 100%);
  /* W3C Markup, IE10 Release Preview */

  background: linear-gradient(to bottom, #003c58 5%, #006591 100%);
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#003c58, endColorstr=#006591);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#003c58', EndColorStr='#006591')";
  /* IE8, IE9 */

  color: #ffffff;
}
.wm-app .app-left-panel {
  background-color: #e4f1f9;
}
.wm-app .app-left-panel .app-list .app-list-item {
  list-style: none;
  border-bottom: 1px solid #b7bbc6;
}
.wm-app .app-left-panel .app-list .app-list-item .app-anchor,
.wm-app .app-left-panel .app-list .app-list-item .app-button {
  color: #505865;
  border: none;
  background: none;
  /* For IE 6 - 7 */

  filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false);
  /* For IE8, IE9 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  /*To show the background color correctly in IE9*/

}
.wm-app .app-left-panel .app-list .app-list-item .app-anchor:hover,
.wm-app .app-left-panel .app-list .app-list-item .app-button:hover,
.wm-app .app-left-panel .app-list .app-list-item .app-anchor.active,
.wm-app .app-left-panel .app-list .app-list-item .app-button.active {
  color: #ffffff;
  background-color: #005071;
}
.wm-app .app-left-panel .app-list .app-list-item .app-anchor:hover:after,
.wm-app .app-left-panel .app-list .app-list-item .app-button:hover:after,
.wm-app .app-left-panel .app-list .app-list-item .app-anchor.active:after,
.wm-app .app-left-panel .app-list .app-list-item .app-button.active:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right: 10px solid white;
}
.wm-app .app-right-panel .app-list {
  background-color: #e4e3e2;
}
.wm-app .app-right-panel .app-list .app-list-item .app-anchor,
.wm-app .app-right-panel .app-list .app-list-item .app-button {
  color: #505865;
  background: #f5f4f1;
}
.wm-app .app-right-panel .app-list .app-list-item .app-anchor:hover,
.wm-app .app-right-panel .app-list .app-list-item .app-button:hover,
.wm-app .app-right-panel .app-list .app-list-item .app-anchor.active,
.wm-app .app-right-panel .app-list .app-list-item .app-button.active {
  color: #ffffff;
  background-color: #acb5b9;
}
.wm-app .app-right-panel .app-list .app-list-item .app-anchor:hover:after,
.wm-app .app-right-panel .app-list .app-list-item .app-button:hover:after,
.wm-app .app-right-panel .app-list .app-list-item .app-anchor.active:after,
.wm-app .app-right-panel .app-list .app-list-item .app-button.active:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -1px;
  margin-top: -6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left: 10px solid white;
}
